/* * {
   border: 1px solid black;
} */

/*--Общие стили--*/

@font-face {
   font-family: "Roboto";
   src: url(assets/fonts/roboto.woff) format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "RobotoBold";
   src: url(assets/fonts/robotobold.woff) format("woff"),
        url(assets/fonts/robotobold.woff2) format("woff2");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "RobotoMedium";
   src: url(assets/fonts/robotomedium.woff) format("woff"),
        url(assets/fonts/robotomedium.woff2) format("woff2");
   font-weight: 600;
   font-style: normal;
}


body {
   margin: 0;
   padding: 0;
   color: #000;
   font-family: "Roboto", sans-serif;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}


.container {
   max-width: 1200px;
   margin: 0 auto;
}

.section {
   box-sizing: border-box;
}

.hidden {
   position: absolute;
   display: none;
}

/*--Header--*/

.main-header {
   background-color: #eee;
   padding-top: 45px;
}

/*--Menu--*/

.main-nav {
   display: flex;
   align-items: center;
   box-sizing: border-box;
   padding: 0  0 0 20px;
}

.main-nav__logo {
   flex-shrink: 0;
}

.logo__img {
   width: 160px;
   height: 65px;
}







.main-nav__list {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding: 0 20px;
}

.main-nav__item {
   margin-right: 35px;
   display: flex;
   align-items: center;
}

.main-nav__item_studio {
   margin-left: auto;
}

.main-nav__item_basket {
   margin: 0 0 0 auto;
}

.main-nav__link {
   text-decoration: none;
   color: inherit;
   font-family: "RobotoMedium", sans-serif;
   color: #3f3f3f;
   text-transform: uppercase;
   padding: 10px 5px;
}

.main-nav__link_basket {
   padding-left: 40px;
   background: url("assets/img/basket.png") no-repeat 10px center;
}








/*--Слайдер--*/
 
.slider {
}

.slider__slides {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.slide {
   display: none;
   padding: 80px 20px;
   height: 420px;
   box-sizing: border-box;
}

.slide_active {
   display: block;
}

.slide:first-child {
   background: url("assets/img/slide1.png") no-repeat right bottom;
}

.slide__header {
   margin: 0;
   margin-bottom: 25px;
   padding: 0;
   font-family: "RobotoMedium", sans-serif;
   font-size: 55px;
}

.slide__description {
   margin: 0;
   margin-bottom: 40px;
}

.slide__button {
   width: 240px;
}

.button {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   height: 50px;
   padding: 0 40px;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   border-radius: 3px;
}

.button_alert {
   background-color: #fb565a;
}




/*---Услуги---*/

 .services {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 80px 0;
}

.services__item {
}

.services-item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   padding: 20px;
   flex-basis: 300px;
   min-height: 390px;
}

.services-item__img {
   width: 100%;
}

.services-item__header {
   text-transform: uppercase;
   font-size: 24px;
   margin: 0;
   margin-top: 25px;
}


.services-item__description {
   margin: 0;
   margin-top: 20px;
}

.services-item__button {
   margin-top: auto;
}

.button_primary {
   background-color: #00ca74;
}

.button_accent {
   background-color: #efc849;
}
/*---- О нас ----*/

.about-us {
   display: flex;
   padding: 80px 20px;
   justify-content: space-between;
}

.info {
   flex-basis: 660px;
}

.statistics {
   width: 360px;
   display: flex;
   flex-direction: column;
}

.statistics__list {
   display: flex;
}


/*---- Клиенты ----*/

.clients {
}

.clients__list {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
}

.clients__item {
   padding: 20px;
   width: 25%;
   box-sizing: border-box;
}

/*---- Карта ----*/

.location {
   padding-top: 80px;
}

.map {
   height: 415px;
   background-image: url(../assets/img/map-1.png);
}

.map__content {
   position: relative;
   height: 100%;
}

/*---- adress card ----*/

.map__adress-card {
   position: absolute;
   left: 20px;
   top: 60px;
}

.adress-card {
   width: 320px;
   height: 300px;
   padding: 45px 50px;
   box-sizing: border-box;
   background-color: #fff;

   display: flex;
   flex-direction: column;
   justify-content: center;

}

.adress-card__adress {
   margin-top: auto;
}

.adress-card__button {
   margin-top: auto;
}

/*---- Контакты ----*/
.contacts {
   display: flex;
   padding: 20px;
}

/*---- Социальные кнопки ----*/

.socials {
   display: flex;
}

.socials__item {
   font-size: 0;
   margin-right: 10px;
}

.socials__link {
   display: inline-block;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   background-color: #e1e1e1;
   padding: 0;
   margin: 0;
}

/*---- Promo ----*/

.contacts__promo {
   margin: 0 auto;
}

.promo {
   display: flex;
   flex-direction: column;
   justify-content: center;
}