/* * {
   border: 1px solid black;
} */

/*--Общие стили--*/



@font-face {
   font-family: "Roboto";
   src: url(assets/fonts/roboto.woff) format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url(assets/fonts/robotobold.woff) format("woff"),
        url(assets/fonts/robotobold.woff2) format("woff2");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url(assets/fonts/robotomedium.woff) format("woff"),
        url(assets/fonts/robotomedium.woff2) format("woff2");
   font-weight: 500;
   font-style: normal;
}


body {
   margin: 0;
   padding: 0;
   color: #2b353a;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
}

ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

hr {
   width: 96%;
   height: 3px;
   background: #eee;
   border: none;
   margin: 0 auto;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.section {
   box-sizing: border-box;
}

.hidden {
   position: absolute;
   display: none;
}

/*--Header--*/

.main-header {
   background-color: #eee;
   padding-top: 45px;
}

/*--Menu--*/

.main-nav {
   display: flex;
   align-items: center;
   box-sizing: border-box;
   padding: 0  0 0 20px;
}

.main-nav__logo {
   flex-shrink: 0;
   margin-top: -6px;
}

.logo__img {
   width: 160px;
   height: 65px;
}

.logo__img:hover {
   opacity: 0.8;
}

.logo__img:active {
   opacity: 0.3;
}

/* ---- Меню бургер -start- ---- */

.ham {
   display: none;
   position: absolute;
   cursor: pointer;
   -webkit-tap-highlight-color: transparent;
   transition: transform 400ms;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 .hamRotate.active {
   transform: rotate(45deg);
 }
 .hamRotate180.active {
   transform: rotate(180deg);
 }
 .line {
   fill:none;
   transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
   stroke:#000;
   stroke-width:5.5;
   stroke-linecap:round;
 }
 
 .ham2 .top {
   stroke-dasharray: 40 121;
 }
 .ham2 .bottom {
   stroke-dasharray: 40 121;
 }
 .ham2.active .top {
   stroke-dashoffset: -102px;
 }
 .ham2.active .bottom {
   stroke-dashoffset: -102px;
 }

 /* ---- Меню бургер -end- ---- */

.main-nav__list {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   list-style-type: none;
   margin: 0;
   padding-top: 5px;
   margin-left: 3px;
}

.main-nav__item {
   margin-right: 36px;
   display: flex;
   align-items: center;
}

.main-nav__item_studio {
   margin-left: auto;
}

.main-nav__item_basket {
   margin: 0 15px 0 auto;
}

.main-nav__link {
   text-decoration: none;
   color: inherit;
   line-height: 30px;
   font-weight: 500;
   color: #000;
   text-transform: uppercase;
   padding: 5px;
}

.main-nav__link:hover {
   color: #fb565a;
}

.main-nav__link:active {
   color: rgba(0, 0, 0, 0.3);
}

.main-nav__link_active {
   border-bottom: 2px solid #fb565a;
}

.main-nav__link_basket {
   padding-left: 50px;
   background: url("assets/img/basket.png") no-repeat 10px center;
}



/*--Слайдер--*/
 
.slider {
   position: relative;
   height: 425px;
}



.slider__slides {
   display: flex;
   width: 100%;
}
.slider__slide {
   position: absolute;
   width: 100%;
   box-sizing: border-box;
   opacity: 0;
   transition: opacity 1s;
   -webkit-transition: opacity 1s;
   -moz-transition: opacity 1s;
   -ms-transition: opacity 1s;
   -o-transition: opacity 1s;
}

.slider__slide_active {
   opacity: 1;
   transition: opacity 1s;
   -webkit-transition:;
   -moz-transition:;
   -ms-transition:;
   -o-transition:;
}

.slider__controls {
   position: absolute;
   display: flex;
   align-items: center;
   bottom: 95px;
   left: 46.3%;
   z-index: 1;
}

.slider__radio {
   display: none;
}

.slider__label {
   display: inline-flex;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   margin: 0 7px;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
   cursor: pointer;
   background-color: #eee;
   transition: background-color 0.2s;
}

.slider__label {
   border: 4px solid #fff;
}

#slide1:checked ~ .slider__controls label[for="slide1"],
#slide2:checked ~ .slider__controls  label[for="slide2"],
#slide3:checked ~ .slider__controls  label[for="slide3"] {
   background-color: rgb(146, 145, 145);
}



/* 
#slide1:checked ~ .slider__inner .slider__slides{
   transform: translate(0);
}

#slide2:checked ~ .slider__inner .slider__slides {
   transform: translate(-1200px);
}

#slide3:checked ~ .slider__inner .slider__slides {
   transform: translate(-2400px);
} */

.slide {
   padding: 73px 20px 78px;
   min-height: 425px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
}

.slide:first-child {
   background: url("assets/img/slide1.png") no-repeat 90% bottom;
}

.slide:nth-child(2) {
   background: url("assets/img/slide2.png") no-repeat 90% bottom;
}
.slide:last-child {
   background: url("assets/img/slide3.png") no-repeat 90% bottom;
}

.slide__header {
   margin: 0;
   padding: 0;
   font-weight: 500;
   font-size: 55px;
   line-height: 55px;
}

.slide__description {
   margin: 0;
   margin-top: 27px;
   line-height: 24px;
}

.slide__button {
   width: 240px;
   margin-top: auto;
}

.button {
   height: 50px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   text-decoration: none;
   text-transform: uppercase;
   font-size: inherit;
   color: #fff;
   border-radius: 3px;
}

.button_alert {
   background-color: #fb565a;
}

.button_alert:hover {
   background-color: #e74246;
}

.button_alert:active {
   background-color: #d7373b;
   color: rgba(255, 255, 255, 0.3);
}



/*---Услуги---*/

 .services {
   padding: 60px 0;
}

.services__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1140px;
}

.services-item {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   box-sizing: border-box;
   padding: 20px;
   max-width: 340px;
   min-height: 390px;
}


.services-item__img {
   width: 100%;
}

.services-item__header {
   text-transform: uppercase;
   font-size: 24px;
   margin: 0;
   margin-top: 25px;
}


.services-item__description {
   margin: 0;
   margin-top: 17px;
   line-height: 24px;
}

.services-item__button {
   padding: 0 40px;
   margin-top: auto;
}

.button_primary {
   background-color: #00ca74;
}

.button_primary:hover {
   background-color: #00bc6c;
}

.button_primary:active {
   background-color: #00aa62;
   color: rgba(255, 255, 255, 0.3);
}

.button_accent {
   background-color: #efc849;
}
.button_accent:hover {
   background-color: #eab534;
}

.button_accent:active {
   background-color: #e5a722;
   color: rgba(255, 255, 255, 0.3);
}
/*---- О нас ----*/

.about-us {
   display: flex;
   padding: 40px 20px 75px;
   justify-content: space-between;
   align-items: flex-start;
}


.info {
   box-sizing: border-box;
   flex-basis: 680px;
}

.info__header {
   font-size: 45px;
   line-height: 45px;
   margin: 0;
   margin-top: 30px;
   padding: 0;
}

.info__p {
   line-height: 24px;
   margin-top: 35px;
}

.info__list-header {
   text-transform: uppercase;
   font-weight: 600;
   margin-top: 40px;
   margin-bottom: 0;
}

.info__service {
   padding-left: 35px;
   background: url("assets/img/li.png") no-repeat left center;
   margin-top: 30px;
}







.statistics {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-basis: 360px;
   min-height: 30px;
   max-height: 410px;
}

.statistics__header {
   text-transform: uppercase;
   font-family: "Roboto";
   font-weight: bold;
   text-align: center;
   font-size: 16px;
   line-height: 24px;
   margin-top: 2em;
}

.statistics__list {
   display: flex;
   justify-content: space-between;
   align-items: space-between;
   margin-top: 1em;
   
}

.statistics__item {
   width: calc(100%/3);
}

.statistics__percent {
   font-size: 45px;
   color: #000;
   font-family: "Roboto";
   font-weight: bold;
   margin: 0;
}

.statistics__item-p {
   margin: 15px 0 0;
}


/*---- Клиенты ----*/

.clients {
   padding: 30px 0 15px;
}

.clients__list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   padding: 0;
}

.clients__item {
   padding: 20px;
   width: 25%;
   min-width: min-content;
   box-sizing: border-box;
   text-align: center;
}

.clients__link {
   opacity: 0.2;
}

.clients__link:hover {
   opacity: 1;
}

.clients__link:active {
   opacity: 0.1;
}

.clients__img {
   width: 100%;
   max-width: fit-content;
}

/*---- Карта ----*/

.location {
   padding-top: 80px;
}

.map {
   position: relative;
   height: 415px;
   background-image: url(assets/img/map-1.png);
}


/*---- adress card ----*/

.map__adress-card {
   position: absolute;
   top: 51px;
   margin-left: 20px;
}


.adress-card {
   width: 320px;
   height: 310px;
   padding: 35px 50px 48px;
   box-sizing: border-box;
   background-color: #fff;
   color: #666666;

   display: flex;
   flex-direction: column;
   justify-content: center;

}

.adress-card__title {
   text-transform: uppercase;
   font-size: 18px;
   color: #000;
}

.adress-card__adress {
   margin-top: 8px;
}

.adress-card__tel-link {
   text-decoration: none;
   color: inherit;
}

.adress-card__button {
   margin-top: auto;
   border: none;
   outline: none;
   cursor: pointer;
}

/*---- Контакты ----*/
.contacts {
   display: flex;
   padding: 70px 20px;
}

/*---- Социальные кнопки ----*/

.socialss {
   display: flex;
}

.socialss__item {
   display: flex;
   align-items: center;
   font-size: 0px;
   margin-right: 20px;
}

.socialss__link {
   display: inline-block;
   width: 75px;
   height: 75px;
   background-color: #e1e1e1;
   background-image: url("assets/img/sociall-sprite.png");
   border-radius: 50%;
   padding: 0;
   margin: 0;
}

.socialss__link:hover {
   background-color: #e74246;
}

.socialss__link:active {
   background-color: #e74246;
   background-image: url("assets/img/sociall-sprite-opacity.png");
   
}

.sociall__link_vk {
   background-position: 50% 65px;
}

.sociall__link_fb {
   background-position: 120% 5px;
}

.sociall__link_ig {
   background-position: 80% 123px;
}

/*---- Promo ----*/

.contacts__promo {
   margin: 10px auto;
   display: flex;
   align-items: center;
}

.promo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   line-height: 22px;
}

.promo__title {
   font-size: 36px;
   line-height: 22px;
   font-weight: bold;
   text-align: center;
}


/*---- Форма обратной связи ----*/

.write-us {
   position: fixed;
   display: none;
   top: 50%;
   width: 100%;
   z-index: 2;
}

.wright-us__wrapper {
   position:  relative;
   width: 95%;
   max-width: 960px;
   margin: 0 auto;
   margin-top: -300px;
   padding: 80px 100px;
   box-shadow: 0 15px 40px;
   box-sizing: border-box;
   background-color: #fff;
   z-index: 10;
}


.write-us__header {
   margin: 0;
   margin-bottom: 10px;
   font-size: 45px;
}

.write-us__close {
   display: inline-block;
   position: absolute;
   top: 95px;
   right: 90px;
   width: 25px;
   height: 25px;
   font-size: 0;
   background: url("assets/img/close.png") no-repeat center;
   border: none;
   opacity: 0.3;
   cursor: pointer;
   outline: none;
}

.write-us__close:hover {
   opacity: 1;
}

.write-us__close:active {
   opacity: 0.1;
}

.write-us__top {
   display: flex;
   justify-content: space-between;
}

.write-us__form-group {
   display: inline-flex;
   flex-direction: column;
   width: 100%;
   margin-top: 30px;
   box-sizing: border-box;
}

.write-us__form-group_side {
   max-width: 360px;
   box-sizing: border-box;
}

.write-us__form-group_left {
   margin-right: 40px;
}

.write-us__label {
   font-weight: bold;
   margin-bottom: 10px;
}

.write-us__input,
.write-us__textarea {
   border: 2px solid #d7dcde;
   border-radius: 3px;
   padding: 13px 15px;
   font-size: inherit;
   outline: none;
}

.write-us__input:hover,
.write-us__textarea:hover {
   border-color: #b4b9bb;
}

.write-us__input:focus,
.write-us__textarea:focus {
   border-color: #000;
}


.write-us__textarea {
   width: 100%;
   min-height: 115px;
   box-sizing: border-box;
   resize: none;
}

.write-us__button {
   width: 260px;
   margin-top: 45px;
   margin-bottom: 10px;
   border: none;
   outline: none;
   cursor: pointer;
}

.write-us__success-message {
   position: absolute;
   top: 0;
   left: 0;
   padding-top: 25%;
   padding-left: auto;
   padding-right: auto;
   text-align: center;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   font-size: 30px;
   background-color: #fff;
}

.success-message__title {
   font-size: 40px;
   color: green;
   text-shadow: 0px 2px 1px #e1e1e1;
}

/*-------- Адаптив --------*/

@media (max-width: 1024px){



   .button {
      height: 45px;
   }

   .main-nav__logo {
      margin-right: 8px; /*Можно убрать.*/
   }
   
   .services {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .services__list{
      display: block;
   }
   
   .services__item {
      display: flex;
      flex-direction: column;
      position: relative;
      max-width: none;
      min-height: 176px;
      padding: 15px 0 15px 333px;

      box-shadow: -72px 89px 0px -86.7px #e5e5e5;
   }

   .services__item:nth-child(2) {
      box-shadow: -35px 52.5px 0px -50px #e5e5e5;
   }

   .services__item:last-child {
      /* box-shadow: 0px 18px 0px -15px #e5e5e5; */
      box-shadow: none;
   }

   .services-item__img {
      position: absolute;
      left: 15px;
      width: 300px;
   }

   .services-item__header {
      margin: 0;
      font-size: 22px;
   }

   
   .slide__header,
   .info__header,
   .promo__title {
      font-size: 40px;
      line-height: 100%;
   }
}

@media (max-width: 850px) {
   .about-us {
      flex-wrap: wrap;
   } 

   .statistics {
      margin: 60px auto 0;
   }

   .statistics__logo {
      width: 100%;
      height: auto;
   }
}


@media (max-width: 768px) {
   /* -- Start -- Для теста. переделать.---- */

      body {
      font-size: 14px;
   }

   .slide__header,
   .info__header,
   .promo__title {
      font-size: 35px;
      line-height: 100%;
   }


   .slider__controls {
      display: none;
   }


   .clients__list {
      flex-wrap: wrap;
   }

   .clients__item {
      width: 50%;
   }

   .contacts {
      flex-wrap: wrap;
   }

    /* -- End -- Для теста. переделать.---- */

   .main-nav {
      flex-wrap: wrap;
      padding-left: 0;
   }

   .main-nav__logo {
      margin: 0 auto;
   }

   .main-nav__list {
      justify-content: space-between;
      width: 95%;
      margin: 5px auto;
   }

   .main-nav__item {
      margin: 0;
   }

   .main-nav__item_studio {
      margin-left: 0;
   }

   .main-nav__item_basket {
      margin-left: 0;
   }

   .main-nav__link {
      font-size: 90%;
   }

   .main-nav__link_basket {
      padding-left: 32px;
   }

   .statistics__percent {
      font-size: 40px;
   }

   .contacts {
      padding: 350px 20px 40px 20px;
   }
   
   .adress-card {
      position: relative;
      max-width: 95%;
      margin: -30px auto 0;
      box-shadow: 0 2px 7px #d8d8d8;
   }

   .promo {
      text-align: center;
   }

   .contacts__socialss {
      order: 1;
      margin: 0 auto;
   }

   .socialss__item {
      transform: scale(0.9);
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
      -o-transform: scale(0.9);
   }
}

@media (min-width: 580px) and (max-width: 768px) {
   .adress-card {
      background: url('/assets/img/nerds-illustration.png') no-repeat 85% center;
      min-width: 95%;
   }

   .adress-card__button {
      width: 225px;
   }
}

@media (min-width: 480px) and (max-width: 768px) {
   .slider {
      height: 370px;
   }

   .slider__slides .slide {
      background-size: 600px;
      background-position: 270px bottom;
      padding-top: 53px;
      min-height: 100%;
   }


}


@media (max-width: 480px) {
   body {
      min-width: 320px;
      font-size: 14px;
   }

   .about-us {
      padding: 40px 20px;
   }


   .logo {
      flex-shrink: 1;
   }

   .ham {
      display: block;
      margin-top: 12px;
   }

   .main-nav__list {
      flex-direction: column;
      width: 80%;
      position: absolute;
      top: 115px;
      left: -85%;
      z-index: 10;

      font-size: 150%;
      background-color: #e5e5e5;
      box-shadow: 0 7px 7px #000;
      border: 1px solid #eee;
      padding: 0;
      
      transition: transform 01s;
      -webkit-transition: transform 01s;
      -moz-transition: transform 01s;
      -ms-transition: transform 01s;
      -o-transition: transform 01s;
   }

   .main-nav__list_active {
      transform: translateX(108%);
      -webkit-transform: translateX(108%);
      -moz-transform: translateX(108%);
      -ms-transform: translateX(108%);
      -o-transform: translateX(108%);
}

   .main-nav__item {
      width: 100%;
      margin: 0;
      border-bottom: 2px solid #dbd8d8;
   }

   .main-nav__link {
      width: 100%;
      text-align: center;
   }

   .slide:not(:first-child) {
      display: none;
   }

   .slide:first-child {
      background-size: 70%;
      background-position: 50% 7%;
      padding: 48% 20px 10% 20px;
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
   }

   .slide__description {
      margin-top: 15px;
      margin-bottom: 15px;
   }

   .slide__header,
   .info__header,
   .promo__title {
      font-size: 30px;
      line-height: 100%;
   }

   .slider__label {
      display: none;
   }

   .services-item {
      max-width: 320px;
   }

   .services-item__img {
      position: static;
      margin-bottom: 17px;
      width: 100%;
   }

   .services-item__header {
      font-size: 20px;
   }

   .services-item__description {
      margin-bottom: 17px;
   }

   .services-item__button {
      width: 100%;
   }

   .services__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      width: 100%;
   }

   .services__item {
      width: 95%;
      padding-left: 0;
      margin: 0 auto;
      box-shadow: none;
   }

   .services__item:nth-child(2){
      box-shadow: none;
   }

   .services__item:not(:last-child) {
      margin-bottom: 20px;
      border-bottom: 2px solid #e5e5e5;
   }

   .info__list-header {
      font-size: 18px;
   } 

   .statistics__percent {
      font-size: 35px;
   }

   .clients__item {
      width: 100%;
   }
}

